 <ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col offset-10 width-20>
        <button button>Last Month</button>
      </ion-col>
      <ion-col text-center width-70>
        <h1>August</h1>
      </ion-col>
      <ion-col>
        <button button>Next Month</button>
      </ion-col>
    </ion-row> <!-- End Header Row -->
    <ion-row>
      <ion-col *ngFor="let dayName of dayNames" width-15>
        {{dayName}}
      </ion-col>
    </ion-row>
  </ion-card-header>
  <hr>
  <ion-row *ngFor="let row of rows">
    <ion-col class="calendar-tile" *ngFor="let col of row">
      <span>
        I am not A number  !! 
        </span>
    </ion-col>
  </ion-row>
</ion-card>